.catagori-heading{
    padding-top:50px;
    padding-left: 20px;
font-size: 18px;
font-weight:bold;
}


.a{
    margin-bottom: 100px;
}
.product{
transform: skewY(3deg);
padding: 30px;
}
.b{
transform: skewY(-3deg); 

}

/* cards */
.card1{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px black ;
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */

  cursor: pointer;
}

.card1:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
